/* Html */
html {
    height: 100%;
}

/* Body */
body {
    background:url("../img/background.png") black left -50px fixed no-repeat;
    background-size: 100%;
    margin: 0px;
    font-family:'Oswald', sans-serif;
    height: 100%;
}

/* Header */
#header {
    background: url("../img/favicon.png") left 20px top 15px rgba(0, 0, 0, 0.801) no-repeat;
    background-size: 10%;
    padding: 30px;
    margin: auto;
    border-bottom: 2px solid black;
}

#header h1 {
    color: darkred;
    text-shadow: 3px 3px black;
    text-align: center;
    font-size: 40px;
    margin-top: -10px;
}

#header h2 {
    color:firebrick;
    text-shadow: 2px 2px black;
    text-align: center;
    margin-top: -40px;
}

/* Menu */
#menu {
    margin: auto;
    margin-top: 40px;
    width: 680px;
}

#menu li {
    float: left;
    width: 120px;
    list-style-type: none;
    position: relative;
}

#menu li a {
    display: block;
    background: black;
    color: darkred;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    position: relative;
    bottom: 10px;
}

#menu li a:hover {
    background:darkred;
    color: white;
}

#menu li ul {
    position: absolute;
    right: 0px;
    display: none;
}

#menu li:hover ul {
    display: block;
}

#left {
    border-top-left-radius: 20px;
}

#right {
    border-top-right-radius: 20px;
}

/* Article */
#article {
	background: rgba(0, 0, 0, 0.801);
	width:800px;
    height: auto;
    margin: auto;
    padding: 10px;
    padding-top: 20px;
}

#article p {
    color:firebrick;
    text-shadow: 2px 2px black;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    width: 600px;
}

#article iframe {
    margin-left: 120px;
    margin-bottom: 20px;
}

/* Footer */

#footer {
	background: black;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

#footer a {
	text-decoration:none;
	color: darkred;
	font-size:15px;
	font-weight:bold;
}