/* Html */
html {
    height: 100%;
}

/* Body */
body {
    background:url("../img/background.jpg") black fixed repeat;
    margin: 0px;
    font-family:'Oswald', sans-serif;
    height: 100%;
    cursor: url("../cur/arr-pointer.cur"), default;
}

a {
    cursor: url("../cur/arr-link.cur"), pointer;
}

p {
    cursor: url("../cur/arr-text.cur"), text;
}

/* Header */
#header {
    background: url("../img/favicon.png") left 20px top 12px rgba(0, 0, 0, 0.700) no-repeat;
    background-size: 140px;
    padding: 30px;
    margin: auto;
    border-bottom: 2px solid firebrick;
}

#header h1 {
    color: darkred;
    text-shadow: 3px 3px black;
    text-align: center;
    font-size: 40px;
    margin-top: -10px;
}

#header h2 {
    color:firebrick;
    text-shadow: 2px 2px black;
    text-align: center;
    margin-top: -40px;
    font-size: 16px;
}

/* Menu */
#menu {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 42px;
    width: 680px;
}

#menu li {
    float: left;
    width: 120px;
    list-style-type: none;
    position: relative;
}

#menu li a {
    display: block;
    background: black;
    color: darkred;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    position: relative;
    bottom: 10px;
    border-top: solid 2px darkred;
}

#menu li a:hover {
    background:darkred;
    color: white;
}

#menu li ul {
    position: absolute;
    right: 0px;
    display: none;
}

#menu li:hover ul {
    display: block;
}

#left {
    border-top-left-radius: 20px;
    border-left: solid 2px darkred;
}

#right {
    border-top-right-radius: 20px;
    border-right: solid 2px darkred;
}

/* Article */
#article {
    background: rgba(0, 0, 0, 0.700);
    width:65%;
    height: 100%;
    margin: auto;
    padding: 10px;
    padding-top: 20px;
}

#article p {
    color:firebrick;
    text-shadow: 2px 2px black;
    margin: auto;
    margin-bottom: 20px;
    width: 600px;
    font-size: 16px;
}

#article p.center {
    text-align: center;
}

#article p.justify {
    text-align: justify;
}

#article iframe {
    margin-bottom: 20px;
    border: 0px;
}

/* Footer */

#footer {
    background: black;
    margin: auto;
    line-height: 40px;
    padding-left: 20px;
    border-top: 2px solid firebrick;
    height: 40px;
}

#footer a {
    text-decoration:none;
    color: darkred;
    font-size:15px;
    font-weight:bold;
}

#copyright {
    width: 150px;
    color: darkred;
    position: relative;
    bottom: 40px;
    margin: auto;
    font-size: 12px;
}
